{# Utilisation du squelette de page base.html.twig #}
{% extends "base.html.twig" %}

{# Titre de la page #}
{% block title %}A propos
{% endblock %}

{# Contenu de la page #}
{% block body %}

<div class="container-fluid"></div>

	<h1 class="about" style="color: white; font-size: 3rem;">À propos</h1>

    <div class="presentation">

        <div class="actual-team">

            <div class="spirit-actual">
                <h4 class="spirit-h4">Spirit</h4>
                <img class="perso-spirit" src="{{ asset('/medias/images/elements/Bastien.png') }}" alt="Spirit">
                <img class="poke-spirit" src="{{ asset('medias/images/poke-perso/garchomp.gif') }}" alt="Monke">
            </div>
            
            <div class="alpif-actual">
                <img src="{{ asset('medias/images/elements/203px-Pierre_Rochard-ROSA.png') }}" alt="" class="perso-alpif">
                <img class="poke-alpif" src="{{ asset('medias/images/poke-perso/arcko.gif') }}" alt="">
                <h4 class="alpifra-h4">Alpifra</h4>
            </div>
            
        </div>

        <h2 class="actual-title">L'équipe actuelle !</h2>

    </div>

    <h3 class="anciens-h3">Les fondateurs :</h3>
    <div class="anciens">
        <h4>Yann</h4>
        <h4>Louis</h4>
        <h4>Spirit</h4>
    </div>

{% endblock %}