@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");

body {
  background-color: #092a3b;
  font-family: "Ubuntu", sans-serif;
}

.mentions-legales {
  color: #ffffff;
}

h1 {
  font-family: "Press Start 2P", serif;
}

/* ----------------------------------------------------------------------------------------------------------- */
/*Modification de la bannière*/

.banner {
  background-color: #dd4242;
  text-align: center;
}

.banner-title h1 {
  color: #ffffff;
  font-size: 4rem;
  font-weight: bold;
  font-family: "Jersey 10", serif;
}

.header-img img {
  margin: 0;
  padding: 0;
  transform: scale(0.9);
}

.connexion-deconnexion {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: max-content;
}

.connexion-deconnexion a {
  text-decoration: none;
  color: #ffffff;
  border: solid 2px #ffffff;
  background-color: #0c3348;
  padding: 10px;
  font-size: large;
  width: 100%;
  max-width: 200px;
  border-radius: 25px;

}

.connexion-deconnexion a:hover {
  background-color: #ffffff;
  color: #0c3348;
  border: solid 2px #0c3348;
  transition: 0.5s;
}

@media screen and (min-width: 992px) {
  .banner {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .banner-title h1 {
    font-size: 4rem;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }

  .connexion-deconnexion {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  .connexion-deconnexion a {
    margin: 10px 6% 0 0;
  }
}

/* ----------------------------------------------------------------------------------------------------------- */
/*Modification de la navbar */

.navbar {
  padding: 0;
  margin: 0;
}

.bar-nav {
  background-color: #0c3348;
  padding: 0;
}

.navbar-toggler {
  background-color: #dd4242;
  border-radius: 0;
  height: 75px;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-nav {
  width: 100%;
  height: 75px;
  margin: 0 !important;
}

.navbar-collapse .collapse .show,
.collapse .navbar-collapse,
.navbar-nav,
.nav-item,
.nav-link {
  background-color: #0c3348;
}

.nav-item {
  width: 100%;
  height: 100%;
}

.nav-item img {
  margin: 6px 3%;
}

.nav-item img {
  margin: 6px 3%;
}

.nav-link {
  color: #ffffff;
  font-size: 2rem;
  width: 100%;
  height: 100%;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  font-family: "Jersey 10", serif;
}

.nav-link a {
  padding: 5px;
  display: block;
}

.bar-nav {
  height: 75px;
}

.main-navbar {
  z-index: 15;
}

.nav-link img {
  width: 70px;
  height: 70px;
}

.nav-link:hover {
  color: #0c3348 !important;
  background-color: #ffffff;
  transition: 0.5s;
}

.notification{
  color: #fff8e1;
  background-color: #9f1239;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 1rem;
  float: right;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}

/* MQ NAVBAR */

@media screen and (min-width: 992px) {
  .nav-link {
    justify-content: center;
    margin: 0;
  }
}

/* ----------------------------------------------------------------------------------------------------------- */
/* Modification du footer  */

footer {
  background-color: #0c3348;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 30px;
}

.footer-logo {
  margin: 30px;
}

.footer-logo h3 {
  font-size: 2.4rem;
  margin-left: 15px;
}

.social-media {
  order: 1;
  text-align: center;
  margin-top: 20px;
}

.footer-blocks {
  font-size: 0.8rem;
}

.footer-block h4 {
  font-size: 1.2rem;
  font-weight: bold;
}

.footer-block ul {
  list-style: none;
}

.footer-block a {
  font-size: 1rem;
  color: white;
  text-decoration: none;
}

.footer-block a:hover {
  opacity: 0.8;
}

.social-media a {
  color: #092a3b;
}

.social-media-button {
  color: white;
  background-color: #0c3348;
  border: none;
  font-size: 2rem;
  margin: 10px;
}

.social-media-button a {
  color: white;
}

@media screen and (min-width: 992px) {
  .footer {
    background-color: #0c3348;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 70px;
    margin: 0;
  }

  .footer {
    background-color: #0c3348;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 70px;
    margin: 0;
  }

  .footer-logo {
    display: flex;
    flex-wrap: wrap;
    margin-top: -50px;
  }

  .footer-blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  .footer-block ul h4 {
    font-weight: bold;
    font-size: 1.5rem;
  }

  .footer-block ul {
    padding: 0;
  }

  .footer-logo {
    display: flex;
    flex-wrap: wrap;
    margin-top: -50px;
  }

  .footer-blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  .footer-block ul h4 {
    font-weight: bold;
    font-size: 1.5rem;
  }

  .footer-block ul {
    padding: 0;
  }

  .social-media a {
    color: #092a3b;
  }

  .social-media-button {
    color: white;
    background-color: #0c3348;
    border: none;
    font-size: 2.5rem;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 50px;
    transition: all 0.4s ease;
  }

  .social-media-button:hover {
    transition: all 0.5s ease;
    color: white;
    background-color: #7097ab;
  }
}

/* ----------------------------------------------------------------------------------------------------------- */

/*Modifications de la page d'accueil*/
.project-contain {
  padding: 0;
  background-image: url(../medias/images/background/Poke-Background.png);
}

.accueil {
  text-align: center;
  font-family: "Press Start 2P", sans-serif;
  font-size: xx-large;
  margin: 100px 0 50px;
  text-decoration: underline #ffd83e;
  color: white;
}

.concept {
  background-color: #e04142;
  text-align: center;
  padding: 50px 5%;
  font-family: "Jersey 10", sans-serif;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  border-radius: 30px;
  border: solid #d6af42 10px;
  position: relative;
}

.home-image-div {
  position: relative;
  padding: 50px;
}

.chen {
  position: relative;
  z-index: 2;
}

.pika-home {
  position: absolute;
  bottom: 82px;
  transform: scale(2);
  z-index: 3;
}

.roucoups-home {
  position: absolute;
  transform: scaleX(-1) scale(1.8);
  top: 0;
  right: 15px;
  z-index: 1;
}

.poke-bg {
  position: absolute;
  top: 0;
  left: 0;
}

.chen-shadow {
  position: absolute;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
  max-width: 300px;
}

.concept-div {
  width: 100%;
}

.concept-text {
  padding: 30px;
  border: #d49a32 4px solid;
  border-radius: 15px;
  background-color: #9f1239;
  color: white;
  max-width: 100%;
}

.etapes {
  background-color: #9f1239;
  max-width: 100%;
  padding: 50px 20px 20px;
  border-radius: 15px;
  border: #d49a32 4px solid;
  position: relative;
}

.home-1 img,
.home-2 img,
.home-3 img {
  width: 12vw;
  margin: 5px;
  text-decoration: underline 2px #d49a32;
}

.home-1,
.home-2,
.home-3 {
  position: relative;
  width: 25%;
}

.home-1 p,
.home-2 p,
.home-3 p {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 1.2rem;
  color: white;
  width: 100px;
}

.arrow-home {
  width: 10vw;
  height: auto;
}

.second-part {
  background-color: #062a3a;
}

.news-section {
  background: transparent;
  padding: 30px 3%;
}

.news-div {
  overflow-y: scroll;
  height: 100%;
  max-height: 600px;
  min-height: 400px;
}

.news-section,
.top-section {
  margin-bottom: 50px;
  max-height: 80vh;
}

.news-section h3 {
  font-family: "Press Start 2P", sans-serif;
  color: #ffd83e;
  text-decoration: underline #ffd83e 3px;
  text-align: center;
}

.single-new {
  background-color: #fff8e1;
  color: #333333;
  font-family: "Jersey 10", sans-serif;
  padding: 5%;
  margin: 20px 0;
  box-shadow:
    inset -4px -4px 0 #e04142,
    inset -4px -4px 0 #a62430,
    inset 4px 4px 0 #8c051c;
  border: #e93804 ridge 3px;
}

.news-date {
  font-size: 1.3rem;
  margin-bottom: 15px;
  text-align: end;
}

.news-title {
  font-family: "Press Start 2P", sans-serif;
  text-align: center;
  text-decoration: underline;
  color: #333333;
}

.news-body {
  font-size: 1.4rem;
}

.author {
  font-style: italic;
  font-size: 1.2rem;
  margin-top: 15px;
}

/*Modif stats top 10 pokedex*/

.top-div {
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 6%;
}

.top-div h3 {
  font-family: "Press Start 2P", sans-serif;
  text-decoration: underline #ffd83e 3px;
}

.top-info-div{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: end;
  position: relative;
}

.countdown,
.top-info {
  width: auto;
  height: auto;
  font-family: "Jersey 10", serif;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  padding: 7px 20px 0;
}

.top-info{
  background-color: #fff8e1;
  margin: 20px 0 0 0;
  z-index: 2;
}

.countdown{
  width: auto;
  margin: 20px 0 0 -10px;
  background-color: #E34042;
  color: white;
  z-index: 1;
}

.top-info-bis{
  margin-left: 0;
  align-self: start;
}


.table-pokedex {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  margin: 0 10px 20px;
  border: 2mm ridge rgba(240 0 32 / 0.9);
}

.table-pokedex tr th {
  font-family: "Press Start 2P", sans-serif;
  font-size: 0.7rem;
  height: 50px;
  background-color: #aa263e;
  color: white;
}

.table-pokedex tr td,
.table-pokedex tr td a {
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
}

.pokedex-top-10:nth-child(odd) {
  background-color: #dd4242;
}

.pokedex-top-10:nth-child(even) {
  background-color: #a62535;
}

.table-pokedex tr:nth-child(1) td:nth-child(2) a {
  color: #f7d12e;
  text-decoration: underline !important;
}

.table-pokedex tbody tr:nth-child(2) td:nth-child(2) a {
  color: #dcdcdc;
}

.table-pokedex tbody tr:nth-child(3) td:nth-child(2) a {
  color: #b89763;
}

.pokedex-top-10 {
  font-family: "Press Start 2P", sans-serif;
  background-color: white;
  padding: 8px;
}

.pokedex-top-10 td {
  word-wrap: break-word;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
}

.pokedex-top-10 td a {
  color: black;
}

.top-10-pokedex-box {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 0;
  padding-right: 0;
  overflow-x: scroll;
}

.empty-td,
.empty-th {
  width: 35px;
  padding: 0 !important;
}

/*Fin table*/

.fixed-cover {
  height: 350px;
  background-image: url(../medias/images/elements/Transition.png);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media screen and (min-width: 992px) {
  .home-image-div {
    margin-right: 125px;
  }

  .pika-home {
    transform: scale(2.3);
  }

  .roucoups-home {
    transform: scaleX(-1) scale(2.3);
  }

  .concept{
    margin: 5%;
  }

  .concept-div {
    width: 50%;
  }

  .etapes {
    padding: 40px 20px 20px;
  }

  .arrow-home {
    width: 7vw;
    height: auto;
  }

  .home-1 p,
  .home-2 p,
  .home-3 p {
    top: -40px;
    font-size: 1.8rem;
    width: 150px;
  }

  .home-1 img,
  .home-2 img,
  .home-3 img {
    width: 90px;
    margin: 15px;
  }
}

/* Page de Profil */

/*Section avatar*/

.avatar-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.trainer-gif {
  width: 300px;
  height: auto;
}

.select-character {
  z-index: 3;
  padding-bottom: 50px;
}

/*Div card*/

.flip-card {
  position: relative;
  width: 100%;
  height: 80vh;
  max-height: 520px;
  max-width: 800px;
  perspective: 2000px;
  transform-style: preserve-3d;
}

.trainer-card,
.back-card {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 32px;
  padding: 10px 15px;
  transition: 1s;
  backface-visibility: hidden;
  overflow: hidden;
}

.trainer-card {
  background: #438dd9;
  background-size: 300px, cover;
  background-blend-mode: soft-light;
  color: white;
  outline: 10px solid #d6af42;
  border: 5px solid white;
}

.card-bg {
  transform: rotate(45deg);
  position: absolute;
  z-index: -10 !important;
  top: -100px;
  left: -100px;
  width: 800px;
  filter: brightness(0) saturate(100%) invert(80%) sepia(12%) saturate(4991%)
    hue-rotate(173deg) brightness(91%) contrast(95%);
  opacity: 0.5;
}

.second-border-purée {
  border: 10px solid #438dd9;
  padding: 0.5rem;
  margin: 0;
  border-radius: 24px;
}

.trainer-card > * {
  font-family: "Jersey 10", serif;
}

.light-blue {
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin: 10px;
  padding: 3px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.light-blue::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: white;
  opacity: 0.3;
  z-index: 0;
}

.light-blue span {
  position: relative;
  z-index: 1;
  color: black;
  font-size: 1.5rem;
  opacity: 1;
  padding: 0 10px;
}

.main-card {
  display: flex;
  flex-direction: row;
  align-items: end;
}

.main-card h2 {
  color: white;
  font-family: "Jersey 10", serif;
  font-size: 3rem;
  letter-spacing: -1px;
}

.card-ball-front {
  filter: brightness(0) invert(1);
  image-rendering: pixelated;
  width: 25px;
}

.main-card-info {
  width: 60%;
}

.card-id-name {
  margin-bottom: 15px;
}

.card-id-name div {
  margin: 5px;
}

.card-money,
.card-dex,
.card-certif {
  margin-bottom: 15px;
}

.card-avatar {
  width: 100%;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.card-image {
  width: 100%;
  height: auto;
  position: relative;
  box-shadow:
    inset 3px 3px #2e4c6b,
    inset 0 3px #2e4c6b,
    inset -3px -3px #5cb2d6,
    inset 3px 0 #5cb2d6;
}

.card-bottom div {
  margin: 5px;
}

.skibibop {
  width: 100%;
  max-width: 250px;
  z-index: 3;
}

.modify-avatar {
  z-index: 10 !important;
  display: flex;
  align-items: center;
  padding: 3px 6px;
  cursor: pointer;
  color: #d6af42;
  background-color: white;
  border-radius: 10px;
}

.modify-avatar img {
  width: 20px;
}

.click {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 45px;
}

/*Back de la card*/
.back-card {
  transform: rotateY(180deg);
  background-color: #9f1239;
  color: white;
  border: 5px solid white;
  outline: 10px solid #d6af42;
}

.back-card * {
  font-weight: 10;
}

.card-bg-2 {
  transform: rotate(-45deg);
  position: absolute;
  z-index: -10 !important;
  top: -100px;
  left: 100px;
  width: 800px;
  filter: brightness(0) saturate(100%) invert(31%) sepia(85%) saturate(1175%)
    hue-rotate(326deg) brightness(96%) contrast(94%);
  opacity: 0.5;
}

.back-card-container {
  font-family: "Jersey 10", serif;
  font-size: 1.4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.back-card-title {
  text-align: center;
  font-size: 2.5rem;
  text-decoration: underline;
  font-family: "Jersey 10", serif;
  margin: 0 0 15px 0;
}

.light-red {
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin: 10px 0;
  padding: 0 10px;
  opacity: 1;
  border-radius: 15px;
}

.light-red::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: white;
  opacity: 0.3;
  z-index: 0;
}

.stats-table{
  width: 100%;
  text-align: center;
}

/* Images dans la première colonne */
.stats-img {
  max-width: 32px;
  vertical-align: middle;
}

.tr-stats,
.tr-shiny{
  line-height: 90%;
}

.back-card-1{
  background-color: rgba(6, 42, 58, 0.6);

  padding: 10px;
  height: auto;
  border-radius: 15px;
}

table:has(.tr-stats){
  text-align: center;
}

.stats-table thead tr th {
  margin-right: 20px;
}

.tr-TR {
  color: #f4ba28;
}

.tr-EX {
  color: #cd00e2;
}

.tr-SR {
  color: #f01923;
}

.tr-UR {
  color: #4439cd;
}

.tr-shiny{
  color: #41BAFD;
}

.stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.stats div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2%;
  width: calc(50% - 2%);
}

.stats div:first-child {
  margin: 0 2% 2% 0;
}

.stats div:nth-child(2) {
  margin: 0 0 2% 2%;
}

.stats div:nth-child(3) {
  margin: 2% 2% 0 0;
}

.stats div:nth-child(4) {
  margin: 2% 0 0 2%;
}

.stats-list-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stats-list-item img {
  width: 70%;
}

.rotate-a {
  transform: rotateY(0deg);
}

.rotate-b {
  transform: rotateY(-180deg);
}

.gen-stats {
  width: 65%;
}

.gen-stats * {
  font-size: 1.15rem;
}

.gen-table {
  width: 100%;
  text-align: center;
  margin: 0 8px;
}

.gen-table thead {
  border: 2mm ridge rgba(240 0 32 / 0.9);
}

.gen-table th {
  width: 38%;
  background-color: #8c051c;
  font-size: 1.3rem;
}

.gen-table th:first-child {
  width: 24%;
}

.gen-image {
  width: 15px;
}

.gen-table tr:nth-child(odd) {
  background-color: #dd4242;
}

.gen-table tr:nth-child(even) {
  background-color: #a62535;
}

.friends-title {
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  font-family: "Jersey 10", serif;
  font-size: 2.5rem;
}

.info-account {
  background-color: #9f1239;
  color: white;
  padding: 5%;
  font-family: "Jersey 10", serif;
  font-size: 1.3rem;
}

.info-div {
  display: flex;
  justify-content: space-between;
  background-color: #dd4242;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 15px;
}

.friends-container {
  padding: 5%;
}

. @media screen and (min-width: 992px) {
  .gen-table th {
    font-size: 1.5rem;
  }

  .gen-stats * {
    font-size: 1.3rem;
  }
}

/*Div amis*/

/*Modifs modal*/
.modal {
  display: none;
  position: fixed;
  z-index: 16;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #9f1239;
  margin: 10% auto;
  border: 1px solid #888;
  width: 90%;
  display: flex;
}

.modal-avatar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.modal-solo {
  border-radius: 15px;
}

.modal-solo:hover {
  background-color: #dd4242;
  transition: 0.4s;
  cursor: pointer;
}

.modal-solo img {
  width: 100px;
  margin: 15px;
}

.modal-content h3 {
  font-family: "Press Start 2P", sans-serif;
}

.close {
  color: white;
  position: fixed;
  right: 0;
  z-index: 17;
  font-size: 50px;
  font-weight: bold;
  font-family: "Press Start 2P", sans-serif;
}

.close:hover,
.close:focus {
  color: #8c051c;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .trainer-gif {
    transform: scale(1.2);
    padding: 50px 0;
  }

  .avatar img {
    margin: 0 50px;
  }
}

.message-avatar p {
  padding: 7px;
  background-color: #af374d;
  color: #ffffff;
  border-radius: 10px;
}

.select-character-button {
  border: solid 5px #af374d !important;
  font-weight: bold !important;
  border-radius: 5px !important;
  margin-bottom: 25px;
}

.modify-info {
  text-align: center;
  transform: scale(0.8);
}

.modify-button {
  background-color: #dd4242;
  padding: 5px;
  border-radius: 40px;
  border: solid #af374d;
  margin-top: 5px;
}

.modify-button:hover {
  border: solid white;
}

.modify-button a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
}

.modify-button img {
  margin-right: 10px;
  width: 35px;
}

.second-border-modify {
  padding: 5px;
  border: solid #ffffff;
  border-radius: 40px;
  background-color: #af374d;
}

/* --------------------------------------------------------------------------------------------- */

/* Page de Connexion  */

.connexion {
  height: 525px;
  background-color: #092a3b;
}

.connexion-h1 {
  color: white;
}

.connexion-button {
  background-color: #dd4242;
  padding: 5px;
  border-radius: 40px;
  border: solid #af374d;
  margin-top: 40px;
}

.connexion-button:hover {
  border: solid white;
}

.connexion-button a {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
}

.connexion-button img {
  margin-right: 10px;
  width: 35px;
}

.second-border-connexion {
  padding: 5px;
  border: solid #ffffff;
  border-radius: 40px;
  background-color: #af374d;
}

i.fa-chevron-right {
  margin-right: 10px;
  margin-left: 10px;
}

.login-form-container {
  background-image: url(../medias/images/background/Poke-Background.png);
}

.login-form {
  border-radius: 40px;
  background-color: #092a3b;
  padding: 5%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.no-account {
  color: #ffffff;
  padding: 5px;
  margin: 5px;
}

.form-group-connexion a {
  color: #ffffff !important;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.active-info {
  display: block;
  color: #092a3b;
  background-color: #ffffff;
  animation: fadein 1s;
  padding: 5px;
  text-align: center;
  align-content: center;
  border-radius: 10px;
}

.active-info p {
  margin: 0 !important;
  font-weight: bold;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.inactive-info {
  animation: fadeout 1s;
  display: none;
}

.fa-circle-info {
  transform: scale(1.2);
  padding-left: 5px;
}

/* ----------------------------------------------------------------------------------------------------------- */
/* Forms  */

.search-input {
  border-radius: 0;
  border: none;
  opacity: 0.8;
}

.search-input + .invalid-feedback {
  color: white;
  position: absolute;
  bottom: -1.5rem;
}

.search-input:focus {
  box-shadow: none;
  border: none;
}

.search-button {
  font-family: "Press Start 2P", sans-serif;
  color: white;
  min-width: 10rem;
  width: 20%;
  border: none;
  background-color: #a62840;
  transition-property: opacity;
  transition-duration: 0.5s;
}

.search-button:disabled {
  opacity: 0.5;
}

/* ----------------------------------------------------------------------------------------------------------- */
/* Modification de la page de capture  */

.rarity-scale p {
  margin-bottom: 0;
  overflow: hidden;
}

.container-view {
  padding-top: 30px;
}

.lastpokemon {
  overflow: hidden;
  display: flex;
  white-space: nowrap;
}

.fivelast {
  display: flex;
  animation: 75s scrollText infinite linear;
}

.pokemon-five {
  margin: 15px 10px;
  height: 180px;
  width: 200px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #8c051c;
  border-radius: 20px;
}

.pokemon-five:nth-child(odd) {
  background: #8c051c;
}

.pokemon-five:nth-child(even) {
  background: #e04142;
}

.lastpokemon:hover .fivelast {
  animation-play-state: paused;
}

@keyframes scrollText {
  to {
    transform: translateX(-100%);
  }
}

.shiny-slider .mini-infos span {
  color: white;
}

.slider-EX {
  box-shadow: inset 0 0 0 6px blueviolet;
  animation: violetPulse 2s infinite ease-in-out;
}

@keyframes violetPulse {
  0%,
  100% {
    box-shadow: inset 0 0 0 6px #8a2be2;
  }
  50% {
    box-shadow: inset 0 0 0 6px #ad12e0;
  }
}

.slider-UR {
  box-shadow: inset 0 0 0 6px #d4af37;
  animation: goldPulse 2s infinite ease-in-out;
}

@keyframes goldPulse {
  0%,
  100% {
    box-shadow: inset 0 0 0 6px #d4af37;
  }
  50% {
    box-shadow: inset 0 0 0 6px #ffd700;
  }
}

.slider-SR {
  box-shadow: inset 0 0 0 5px #ec0522;
  animation: redPulse 2s infinite ease-in-out;
}

@keyframes redPulse {
  0%,
  100% {
    box-shadow: inset 0 0 0 5px #ec0522;
  }
  50% {
    box-shadow: inset 0 0 0 6px #ff2300;
  }
}

.mini-infos{
  width: 90%;
}

.mini-infos a {
  text-decoration: underline;
  color: #d3ad42;
}

.poke-tronq,
.poke-tronq-2
{
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(50% - 12px);
  vertical-align: top;
}

.mini-images {
  display: flex;
}

.mini-images div {
  height: 100px;
  width: 100px;
}

.mini-gif {
  max-height: 100px;
}

.mini-trainer {
  width: 60px;
  height: 60px;
}

.mini-shiny {
  width: 30px;
  position: absolute;
  left: 90px;
}

.view-pokemon {
  height: 400px;
  max-width: 1000px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2mm ridge rgba(240 0 32/ 0.9);
  overflow-y: hidden;
}

.rarity-scale{
  max-width: 1000px;
}

.rarity-scale,
.slider {
  color: #ffffff;
  text-align: center;
  background-color: #af374d;
  border: 2mm ridge rgba(240 0 32/ 0.9);
  border-bottom-width: 0;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  font-weight: bold;
}

.slider {
  margin-top: 60px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-width: 2mm;
  width: 100%;
}

.slider span,
.slider a {
  font-family: "Jersey 10", serif;
  font-size: 1.3rem;
  font-weight: lighter;
}
.rarity-scale p,
.rarity-scale span {
  font-family: "Jersey 10", serif;
  font-size: 1.5rem;
  font-weight: lighter;
}

.rarity-scale span {
  color: #d4af37;
}

.no-background {
  background: none;
}

.pokemon-captured-infos {
  background-color: #a62840;
  color: #ffffff;
  font-size: 2rem;
  font-family: "Jersey 10", serif;
  text-align: center;
  border-radius: 7px;
  border: solid #de0c30;
}

.info-margin {
  margin: 0 4px;
}

.visi-zero {
  visibility: hidden;
}

.visi-one {
  visibility: visible;
}

.displayed-pokemon {
  max-height: 100%;
  max-width: 100%;
  transform: scale(2.5);
  position: relative;
}

.coin-width {
  width: 30px;
}

.coin-width-3 {
  width: 20px;
}

.coin-count {
  margin-bottom: 0 !important;
  font-size: 1rem;
  color: #d4af37;
  font-family: "Press Start 2P", sans-serif;
}

.coin-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.coin-width-2 {
  width: 50px;
}

.coin-count p {
  margin-top: 10px !important;
}

.logo-new {
  width: 125px;
}

.volume {
  width: 50px;
  height: 50px;
  border-color: #de0c30;
  background-color: #af374d;
  border-bottom-right-radius: 25px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.volume img {
  width: 30px;
}

.logo-new {
  width: 125px;
  position: absolute;
  top: -25px;
}

.logo-oh,
.logo-what {
  position: absolute;
  z-index: 50;
  visibility: hidden;
  transform: scale(0.5);
  top: 50px;
}

.poke-capture-div {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.shining-effect {
  transform: scale(0.8);
  position: absolute;
}

.capture-poke-button {
  border-radius: 250px;
  border-width: 10px;
  border-color: #de0c30;
  background-color: #af374d;
  width: 200px;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 140px;
}

.capture-poke-button:active {
  transition: background-color 0.2s;
  border-color: #dd4242;
  background-color: whitesmoke;
}

.pokeball-animate {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
}

.too-big {
  width: 50%;
  overflow: visible !important;
}

.carou-ball {
  text-align: center;
  padding: 0 50px 50px;
  overscroll-behavior-y: unset !important;
}

.carou-ball {
  max-width: 100vw;
}

.description-poke-capture {
  color: #ffffff;
  text-align: center;
}

.carousel.overflow-visible {
  overflow: visible !important;
}

.multiple {
  transform: scale(0.5);
  text-align: center;
  position: absolute;
  left: 20px;
}

.launch-items {
  color: #ffcd00;
  -webkit-text-stroke: 1px #356abc;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Anton", sans-serif;
  text-shadow: 3px 2px #899399;
  padding-left: 5px;
  text-align: center;
  margin-top: 15px;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.pokeball-car.active {
  display: flex;
}

/*Shop de la page*/

.shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  background-color: #af374d;
  border-radius: 15px;
  margin-top: 50px;
  position: static;
}

.shop-title {
  font-family: "Jersey 10", sans-serif;
  font-size: 5rem;
  text-decoration-line: underline;
  text-decoration-style: double;
}

.mini-shop {
  font-family: "Press Start 2P", sans-serif;
  font-size: 0.6rem;
  background-color: #092a3b;
  border-radius: 25px;
  border: solid #000000 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.shop-table thead tr th {
  font-size: 0.7rem;
  color: white;
}

.total_shop {
  text-decoration: underline 3px #d4af37;
  background-color: white;
  opacity: 0.8;
  border-radius: 10px;
}

.shop-table {
  border-collapse: separate;
  border-spacing: 0;
}

.shop-list tr {
  background-color: transparent !important;
}

/* Premier tr */
.shop-list tr:first-child td:first-child,
.shop-list tr:first-child {
  border-top-left-radius: 25px;
}

.shop-list tr:first-child td:nth-last-of-type(2) {
  border-top-right-radius: 25px;
}

/* Dernier tr */
.shop-list tr:last-child td:first-of-type {
  border-bottom-left-radius: 25px;
}

.shop-list tr:last-child td:nth-last-of-type(2) {
  border-bottom-right-radius: 25px;
}

.shop-table .shop-item:nth-child(even) td {
  background-color: #af374d;
}

.shop-table .shop-item:nth-child(odd) td {
  background-color: #de0c30;
}

.quantity {
  color: white;
}

.shopNotice {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: bold;
  margin-top: 25px;
}

tfoot tr td {
  padding: 20px 0;
}

.mini-ball {
  transform: scale(0.4);
}

.price {
  color: #d4af37;
  font-size: 0.8rem;
}

.minus,
.plus {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #de0c30;
  background-color: rgba(255, 255, 255);
  border: solid 1px gray;
  aspect-ratio: 1 / 1;
  width: 20px;
  height: auto;
  border-radius: 50%;
  box-shadow: 2px 2px 2px black;
}

.minus:active,
.plus:active {
  background-color: gray;
}

.buy-it {
  border: #de0c30 solid 3px;
  border-radius: 10px;
  padding: 10px 20px;
  position: relative;
  top: -30px;
}

.item-des {
  color: white;
  padding: 10px 0;
  font-size: 0.5rem;
}

.item-name {
  color: white;
  align-items: center;
  padding-top: 15px;
  padding-left: 5px;
}

.plus-td {
  padding-right: 15px;
}

.button-up {
  width: 80px;
  bottom: 0;
  left: 0;
  position: absolute;
  cursor: pointer;
}

@media screen and (min-width: 1380px) {
  .mini-ball {
    transform: scale(0.7);
  }

  .capture-ball {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carou-ball {
    max-width: 500px;
  }

  .carousel-ball {
    width: 500px;
  }

  .capture-poke-button {
    width: 250px;
  }

  .multiple {
    transform: scale(0.5);
    text-align: center;
    position: absolute;
    left: 100px;
  }

  .mini-shop {
    font-size: 1.2rem;
    padding: 30px;
    max-width: 75%;
  }

  .shop-table thead tr th {
    font-size: 1.5rem;
    padding: 35px;
  }

  .buy-it {
    padding: 10px;
    border-radius: 15px;
  }

  .shop-list tr td {
    padding: 20px;
  }

  .item-des {
    font-weight: lighter;
    font-size: 0.8rem;
    padding: 15px;
  }

  .button-up {
    width: 150px;
    position: absolute;
  }

  .minus,
  .plus {
    width: auto;
  }
}

/*Animation de la pokeball qui se shake*/

.pokeball-animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: shake;
}

@keyframes shake {
  from {
    transform: none;
  }

  20% {
    transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -10deg);
  }

  40% {
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 5deg);
  }

  50% {
    transform: translate3d(-10%, 0, 0) rotate3d(0, 0, 1, -10deg);
  }

  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 5deg);
  }

  to {
    transform: none;
  }
}

/* --------------------------------------------------------------------------------------------- */

/* Page du Pokédex  */

.previous-next-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dd4242;
  font-size: 1rem;
  border: solid black 1px;
  padding-top: 10px;
  cursor: pointer;
}

.left-arrow {
  margin-right: 10px;
}

.previous-next-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.previous-next-buttons a {
  color: white;
  text-decoration: none;
}

.consult {
  display: none;
}

.select-gen {
  height: 50px;
  background-color: #dd4242;
  border-radius: 10px 10px 0 0;
  border: solid #d6af42 3px;
  color: white;
  font-family: "Press Start 2P", sans-serif;
  font-size: 0.8rem;
  text-align: center;
}

.gen-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  background-color: #a8273f;
  border-radius: 0 0 10px 10px;
  color: white;
  font-family: "Jersey 10", sans-serif;
  font-size: 1.4rem;
}

.search {
  margin-right: 10px;
}

.gen-content div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#activeCountG1,
.shinydex {
  font-size: 1.8rem;
}

.list {
  display: flex;
  flex-direction: row;
}

.ul-list {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokedex-nav {
  height: 200px;
  overflow-y: scroll;
  padding: 0;
}

.pokedex-nav ul {
  display: flex;
  margin-block: 2px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  list-style-type: none;
}

.pokemons-gen {
  width: 100%;
}

.poke-li {
  font-family: "Press Start 2P", serif;
  color: #ffffff;
  background-color: #dd4242;
  border: solid #000000 1px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin: auto;
}

.poke-li:active {
  box-shadow: inset -5px 5px 0 black;
}

.poke-li a {
  color: #000000;
  text-decoration: none;
}

.not-captured {
  background-color: gray;
}

.poke-info {
  padding: 0;
}

.poke-info-pic {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background-pokedex-img {
  height: 300px;
}

.pokemon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #092a3b;
  height: 300px;
  padding: 0;
}

.gb-button-a {
  display: flex;
  border: none;
  border-radius: 100px;
  background-color: white;
}

.info {
  padding: 0;
  color: black;
  border-top: solid black 1px;
}

.info-tile-1 {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid black 1px;
  height: 50px;
  padding-top: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

.info-tile-2 {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid black 1px;
  height: 50px;
  padding-top: 10px;
  font-size: 1.2rem;
  font-style: italic;
}

.info-tile-3 {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
  height: 50px;
  padding-top: 10px;
  padding-right: 0;
  padding-left: 0;
  font-size: 1.2rem;
  font-style: italic;
  color: darkgray;
}

.pokemon {
  border: 0;
  border-radius: 0px 0px 20px 20px;
  padding: 0;
  box-shadow: 0px 0px 10px black;
  height: 450px;
  position: relative;
}

.pokepic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.taille-fond {
  width: 100%;
  height: 100%;
}

.poke-gif {
  object-fit: cover;
  margin: 0;
  position: absolute;
  transform: scale(2.5);
}

.shiny-button-mobile {
  background-color: white;
  border-radius: 100px;
  padding: 3px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
}

.digital {
  padding: 30px;
  background-color: white;
}

.type-h3 {
  background-color: white;
  padding-top: 10px;
  font-weight: bold;
}

.type-h3 h3 {
  font-weight: bold;
}

.type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-bottom: 20px;
  margin-top: 20px;
}

.type-img {
  width: 80px;
  cursor: pointer;
  padding: 0;
}

/*Boutons des gens du dex*/

.gen {
  position: sticky;
  top: 5px;
  padding-inline: 15px;
  padding-block: 20px;
  color: #ffffff;
  text-align: center;
  background-color: #af374d;
  border: 2mm ridge rgba(240 0 32/ 0.9);
  border-radius: 50px;
  font-family: "Oxanium", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 15px;
  z-index: 3;
}

.gen.active {
  box-shadow: 0px 0px 10px black;
}

.gen-shiny {
  max-width: 30px;
}

.gen-title {
  text-decoration: underline #d4af37 3px;
}

.type-none {
  display: none !important;
}

.rotate {
  rotate: 90deg;
}

.type-flex {
  display: flex !important;
}

.type-on {
  display: block;
}

/*Partie de droite du pokedex*/
.main-pokedex {
  background: linear-gradient(145deg, #a4262c, #a42637, #9f1239);
  background-blend-mode: multiply;
  width: 100%;
  height: 80vh;
  min-height: 650px;
  border-radius: 20px;
  position: relative;
  padding-top: 10px;
  box-shadow:
    3px 3px 0 #000,
    6px 6px 0 #7d7d7d,
    -2px -1px 0 #000;
}

.pokedex-name {
  width: 60%;
  margin: 10px auto auto;
  height: auto;
  background-color: #e04142;
  border-radius: 10px;
  align-items: center;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-color: #9f1239;
}

.pokedex-name p {
  padding: 5px;
  font-weight: bold;
  margin-bottom: 0;
  color: white;
  font-family: "Press Start 2P", serif;
  font-size: 0.8rem;
  word-wrap: break-word;
  text-align: center;
  text-decoration: underline 4px;
  text-decoration-color: #ffd83e;
}

.pokedex-pokemon {
  background-size: cover;
  background-position: center;
  width: 95%;
  margin: auto;
  height: 50vh;
  min-height: 300px;
  border-radius: 10px;
  position: relative;
  border: 2mm ridge rgba(240 0 32/ 0.9);
  overflow: hidden;
  z-index: 0;
}

.pokedex-pokemon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: repeating-linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.05) 0px,
    rgba(0, 0, 0, 0.05) 2px,
    transparent 2px,
    transparent 4px
  );
  image-rendering: pixelated;
  z-index: -1;
  pointer-events: none;
}

.pokedex-image {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-45%, -50%) scale(1.8);
}

.pokedex-description {
  background-color: orange;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  font-family: "Press Start 2P", serif;
  font-size: 0.7rem;
  border: 4px solid transparent;
  box-shadow:
    inset -2px -2px 0 #ffd700,
    inset -2px -2px 0 orange,
    inset 2px 2px 0 #e04142;
}

.pokedex-types {
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 125px;
  right: 5px;
  transform: translateY(-100%);
}

.pokedex-types a img {
  height: 50px;
  width: 50px;
}

.button-shiny {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: orange;
}

.button-shiny img {
  width: 40px;
  height: 40px;
}

.btn-dex-container{
  position: absolute;
}

.volume-dex-container{
  top: 0;
  left: 0;
}

.shiny-dex-container{
  top: 0;
  right: 0;
}

.btn-volume:last-child{
  border-bottom-right-radius: 25px;
}

.btn-shiny:last-child{
  border-bottom-left-radius: 25px;
}

.btn-dex {
  width: 50px;
  height: 50px;
  border-color: #de0c30;
  background-color: #af374d;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
}

.btn-dex img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

/*Partie basse du pokedex*/

.pokedex-bottom{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dpad {
  --btn-size: 35%;
  margin-left: 3%;
  position: relative;
  width: 25%;
  aspect-ratio: 1 / 1;
  max-width: 150px;
}

.dpad-button {
  position: absolute;
  width: var(--btn-size);
  height: var(--btn-size);
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 15%;
  font-size: 100%;
  cursor: pointer;
  box-shadow: inset 0 0 5px #000, 0 2px 5px rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dpad-button:active {
  background-color: #555;
}

.dpad-button.up {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.dpad-button.down {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.dpad-button.left {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.dpad-button.right {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.middle {
  position: absolute;
  width: var(--btn-size);
  height: var(--btn-size);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  box-shadow: inset 0 0 5px #000, 0 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 15%;
}

.alt-div{
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 40%;
  margin: 15px 6%;
  background-color: #6AA671;
  position: relative;
  border-radius: 10px;
  /*border: 4px solid #ffcd00;*/
  box-sizing: border-box;
}

.alt-forms {
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow-x: auto;
  overflow-y: hidden;
}

.alt-forms::-webkit-scrollbar {
  width: 10px;
  background-color: gray;
  display: none;
}

.alt-forms{
  scrollbar-width: none
}

.alt {
  height: 70px;
  width: 70px;
  background-color: wheat;
  margin: 10px;
  border-radius: 15px;
  box-shadow: inset 0 0 0 3px #e04142;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition:
    width 0.3s ease,
    height 0.3s ease;
  flex: 0 0 auto;
}

.alt img {
  width: 50px;
  transition: width 0.3s ease;
}

.alt span {
  font-size: xx-large;
  font-weight: bold;
  font-family: "Press Start 2P", serif;
  position: relative;
  left: 2px;
}

.alt img {
  width: 50px;
}

.arrow-left-dex,
.arrow-right-dex {
  position: absolute;
  width: 50px;
}

.arrow-left-dex{
  top: 0;
  left: 10px;
  transform: scaleX(-1);
}

.arrow-right-dex{
  top: 0;
  right: 10px;
}

.speaker div {
  display: none;
}

.gameboy-buttons {
  position: relative;
  width: 20%;
  max-width: 150px;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gb-button-a,
.gb-button-b {
  position: absolute;
  width: 45%;
  max-width: 70px;
  max-height: 70px;
  aspect-ratio: 1 / 1;
  background-color: #333;
  box-shadow: inset 0 0 5px #000, 0 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  font-family: "Press Start 2P", serif;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.2s;
  font-size: 100%;
}

.gb-button-a {
  top: 5%;
  right: 5%;
}

.gb-button-b {
  bottom: 5%;
  left: 5%;
}

.gb-button-a:active,
.gb-button-b:active {
  box-shadow: inset -5px 5px 0 #333;
}

/* Premier media querry qui démarre à 992px, car problèmes d'affichage en responsive (div trop petites, manque de cohérence dans l'affichage)  */
@media screen and (min-width: 992px) {
  .gen {
    width: 400px !important;
  }

  .pokedex-view {
    display: block !important;
  }

  .main-pokedex {
    width: 95%;
    margin: 35px auto 35px;
    padding-top: 30px;
  }

  .pokedex-name p {
    font-size: 1rem;
  }

  .pokedex-pokemon {
    width: 80%;
    height: 50vh;
  }

  .pokedex-descritpion {
    width: 80%;
    margin: auto;
  }

  .button-shiny {
    width: 60px;
    height: 60px;
  }

  .dpad {
    --btn-size: 35%;
    width: 15%;
  }

  .alt {
    height: 100px;
    width: 100px;
  }

  .alt img {
    width: 80px;
    transition: width 0.3s ease;
  }

  .pokedex-types {
    right: 10px;
  }

  .pokedex-types a img {
    height: 60px;
    width: 60px;
  }

  .speaker {
    display: grid;
    grid-template-columns: repeat(4, 10px);
    gap: 5px;
    width: max-content;
    padding: 10px;
  }

  .speaker div {
    display: block;
    width: 8px;
    height: 8px;
    background-color: black;
    border-radius: 50%;
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.3);
  }

  .speaker-1 {
    position: absolute;
    top: 50%;
    left: calc(0.5% + 10px);
    transform: translateY(-50%);
  }

  .speaker-2 {
    position: absolute;
    top: 50%;
    right: calc(0.5% + 10px);
    transform: translateY(-50%);
  }

  .gb-button-a{
    top: calc(0% + 0.5vw);
    right: calc(0% + 0.5vw);
  }

  .gb-button-b{
    bottom: calc(0% + 0.5vw);
    left: calc(0% + 0.5vw);
  }

  .gb-button-a,
  .gb-button-b {
    height: 90px;
    width: 90px;
    font-size: 2rem;
  }

  .main-block {
    display: flex;
    flex-direction: row;
    background-image: url(../medias/images/background/Poke-Background.png);
    animation: background-movement 30s linear infinite;
  }

  .pokedex-block {
    padding-top: 25px;
  }

  .poke-list {
    height: 75vh;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 300px;
  }

  .previous-next-buttons {
    display: none;
  }

  .consult {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 100px;
  }

  .consult h1 {
    font-size: 3rem;
  }

  .arrows {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: rgba(255, 255, 255, 0);
  }

  .arrows i:hover {
    color: #7097ab;
  }

  .list {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin-top: -300px;
    margin-left: 3%;
  }

  .pokedex-nav {
    height: 60vh;
    max-height: 600px;
    margin-top: 10px;
    margin-bottom: 50px;
  }

  .poke-li {
    box-shadow: -10px 10px 0 black;
    height: 50px;
    /*width: 400px;*/
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    /*border-radius: 50px;*/
    font-family: "Press Start 2P", sans-serif;
  }

  .poke-li li {
    width: 400px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .poke-li:active {
    box-shadow: inset -5px 5px 0 black;
  }

  .list-a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .list-a:hover {
    color: #dd4242;
    margin-left: 0;
  }

  .pokedex-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dd4242;
    padding-top: 30px;
    margin: 50px;
    box-shadow: -30px 20px 0 #a62840;
    border-radius: 50px;
  }
}

/* Deuxieme media querry pour écran large avec l'affichage "complet"  */
@media screen and (min-width: 1700px) {
  .pokedex-pic-and-description {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .poke-type-description {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .pokedex {
    width: 40%;
    margin-top: -50px;
  }

  .info-tile-1 {
    font-size: 0.8vw;
  }

  .info-tile-2 {
    font-size: 0.8vw;
  }

  .info-tile-3 {
    font-size: 0.8vw;
  }

  .digital {
    width: 50%;
    margin: 50px 0px 100px 100px;
    font-size: 0.65rem;
  }

  .gameboy {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 30px;
    margin-top: -50px;
  }

  .start-select-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
  }

  .start {
    background-color: rgb(100, 100, 100);
    border: solid black 1px;
    border-radius: 30px;
    width: 80px;
    height: 30px;
    box-shadow: -4px 4px 2px #333;
  }

  .select {
    background-color: rgb(100, 100, 100);
    border: solid black 1px;
    border-radius: 30px;
    width: 80px;
    height: 30px;
    box-shadow: -4px 4px 2px #333;
  }

  .start:active {
    box-shadow: inset -5px 5px 0 #333;
  }

  .select:active {
    box-shadow: inset -5px 5px 0 #333;
  }

  .overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: "Press Start 2P", sans-serif;
    font-size: 1.5rem;
  }

  .gameboy-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
  }
}

/* --------------------------------------------------------------------------------------------- */

/* Page d'Inscription  */

.register-form-block {
  display: flex;
  flex-direction: column;
}

.h1-inscription {
  color: white;
  margin-bottom: 50px;
  font-size: 2rem;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.style-form-register {
  color: white;
}

.register-button {
  background-color: #dd4242;
  padding: 10px;
  border-radius: 40px;
  border: solid #af374d;
  margin-top: 40px;
  margin-bottom: 100px;
  width: 250px;
}

.register-button:hover {
  border: solid white;
}

.register-button-valid {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 0;
}

.register-button-valid:hover {
  color: white;
}

.register-button img {
  margin-right: 10px;
  width: 50px;
}

.second-border-register {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: solid #ffffff;
  border-radius: 40px;
  background-color: #af374d;
  width: 100%;
  padding: 3px;
}

.second-border-register i {
  color: white;
}

.g-recaptcha {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.obligation {
  color: red;
  padding: 0 0 15px 1%;
}

/* ------------------------------------------------------------------------------------------  */

/* Page des types Pokémon  */

.type-contain {
  margin: 0;
  padding: 0;
  background-color: #092a3b;
}

.image-type {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: solid white 1px;
  padding: 10px;
}

.image-type img {
  width: 100px;
}

.image-type img:hover {
  transform: scale(1.08);
}

.type-title {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #092a3b;
  color: white;
  font-size: 1.5rem;
  padding: 20px;
  border: none;
}

.type-title i {
  margin: 3px 0px 0px 10px;
}

.type-description {
  transition: max-height 0.5s ease-out;
  max-height: 0;
  overflow: hidden;
}

.type-description p {
  padding: 20px;
  font-size: 1rem;
}

.image-type p {
  color: white;
}

.type-description.show {
  max-height: 500px;
}

@media screen and (min-width: 992px) {
  .type-main-contain {
    background-image: url(../medias/images/background/Poke-Background.png);
    animation: background-movement 30s linear infinite;
  }

  @keyframes background-movement {
    from {
      background-position: top left;
    }

    to {
      background-position: bottom right;
    }
  }

  .type-contain {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 100px;
  }
}

/* ------------------------------------------------------------------------------------------  */

/* Page A propos  */

.about {
  margin: 50px 20px;
  text-align: center;
}

.actual-title {
  color: white;
  font-family: "Press Start 2P", serif;
  font-size: 1.3rem;
  margin: 20px 0 150px;
}

.actual-team {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
}

.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.spirit-actual {
  left: 30px;
}

.alpif-actual {
  right: 30px;
}

.spirit-actual,
.alpif-actual {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.perso-alpif,
.perso-spirit {
  transform: scaleX(-1);
  max-height: 375px;
  width: auto;
  height: 50vw;
  object-fit: contain;
}

.poke-spirit,
.poke-alpif {
  position: absolute;
  bottom: 0;
  height: auto;
  max-width: 250px;
  min-width: 100px;
  z-index: 1;
}

.poke-spirit {
  left: 0;
  bottom: 0;
  width: 20vw;
}

.poke-alpif {
  right: 5%;
  bottom: -20px;
  transform: scaleX(-1);
  width: 15vw;
}

.spirit-h4,
.alpifra-h4 {
  font-family: "Notable", sans-serif;
  text-align: center;
  position: absolute;
  text-transform: uppercase;
  font-size: clamp(1.4rem, 5vw, 3rem);
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
}

.spirit-h4 {
  transform: rotate(-90deg);
  left: -20%;
  color: #0a53be;
}

.alpifra-h4 {
  right: -20%;
  transform: translateY(-50%) rotate(90deg);
  color: #9f1239;
}

.anciens {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.perso-1,
.perso-2,
.perso-3 {
  max-height: 150px;
}

.anciens-h3 {
  text-align: center;
}

.anciens {
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
}

.anciens h4 {
  text-decoration: underline;
}

.anciens-h3,
.anciens h4 {
  color: white;
  font-family: "Press Start 2P", sans-serif;
}

@media screen and (min-width: 992px) {
  .yann {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .yann p {
    font-size: 1rem;
  }

  .bastien {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bastien p {
    font-size: 1rem;
  }

  .louis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .louis h3,
  .bastien h3,
  .yann h3 {
    margin: 30px;
    color: white;
  }

  .louis p {
    font-size: 1rem;
  }
}

/* ------------------------------------------------------------------------------------------  */

/* Page Le Projet  */

.project-presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dd4242;
  margin: 0;
}

.project-presentation h1 {
  text-align: center;
}

.project-poke-ball {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px 0px 50px 0px;
}

.project-poke-ball img {
  width: 60px;
}

.project-poke-ball img:hover {
  transform: scale(1.3);
}

.project-presentation p {
  color: black;
  background-color: white;
  opacity: 0.8;
  margin: 0;
}

.project-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../medias/images/background/Poke-Background.png) fixed;
  animation: background-movement 30s linear infinite;
}

@media screen and (min-width: 992px) {
  .project-presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dd4242;
    border: solid #a62840 5px;
    border-radius: 50px;
    margin: 100px;
  }

  .project-presentation p {
    color: black;
    background-color: white;
    opacity: 0.8;
    border: solid #a62840 3px;
    border-radius: 30px;
    box-shadow: 0 0 10px black;
    margin: 50px;
    padding: 40px;
  }
}

/* ----------------------------------------------------------------------------------------------------------- */
/* Modification des scroll bar  */

::-webkit-scrollbar-track {
  border: 1px solid #092a3b;
  background-color: #092a3b;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: gray;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
}

/* Maintenance */

.maintenance {
  margin: 200px 0;
}

.top-badge{
  width: 20px;
}


/* Echanges */

.main-trade{
  display: flex;
}

.user-part{
  width: 45%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #9f1239;
  border-radius: 50px;
  border: solid #a62840 5px;
  padding: 40px;
  margin: 3%;
}

.user-part * {
  color: white;
}

.mirror-x{
  transform: scaleX(-1);
}

.trade-title{
  font-size: 15px;
}

.arrow-div{
  position: relative;
  width: 110px;
}

.arrow-trade{
  width: 100px;
  position: absolute;
}

.arrow-2{
  transform: rotate(-180deg);
  position: absolute;
  top: 50px;
}