{% extends 'base.html.twig' %}

{% block title %}
    Site en maintenance
{% endblock %}

{% block body %}
    <h1 class="maintenance text-center text-white">Le site est actuellement en maintenance !</h1>
{% endblock %}



